@import "normalize";
@import "vars";

@import "themes/dark";
@import "themes/light";

.app{
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Arial";

  transition: .5s all;
}