.page{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  flex-shrink: 100;
}

.trigger{
  opacity: 0;
  border: 1px solid red;
}

.page::-webkit-scrollbar {
  width: 6px;
}
.page::-webkit-scrollbar-track {
  background: transparent;
}
.page::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}