.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.field{
  margin: 10px 0;
  width: 300px;
}
.submit{
  margin-top: 20px;
}
.btn{
  padding: 3px;
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 330px) {
  .field{
    width: 200px;
  }
}

@media (max-width: 240px) {
  .field{
    width: 150px;
    font-size: 10px;
  }
}