.namespace{
  font-size: 32px;
  font-weight: 800;
}
.title{
  font-size: 24px;
  font-weight: 600;
}
.sub_title{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.description{
  font-size: 12px;
  font-weight: 300;
}
.text{
  font-size: 16px;
  font-weight: 400;
}

.error{
  font-size: 16px;
  font-weight: 400;
  color: red;
}
.warning{
  font-size: 16px;
  font-weight: 400;
  color: yellow;
}