.card{
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 30px;
  height: 500px;
}
.icon{
  width: 380px;
  height: 250px;
}
.name{
  margin: 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description{
  margin: 15px 0;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  height: 75px;
}
.tags{
  color: var(--main-color);
}

.btn{
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  .card{
    max-width: 300px;
  }
  .icon{
    width: 280px;
    height: 200px;
  }
}