.card{
  justify-content: center;
  align-items: center;

  margin: 10px;
  max-width: 750px;
  height: 500px;
  padding: 30px 80px;
}

@media (max-width: 330px) {
  .card{
    max-width: 250px;
  }
}