.button{
  border-radius: 5px;
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.filled{
  background-color: var(--primary-button-color);
}
.circle{
  border-radius: 50%;
}
.outline{
  border: 2px solid;
  background-color: transparent;
}
.none{
  border: none;
  background: transparent;
  color: var(--text-select-color);
}

.dark{
  background-color: #333;
  color: #fff;
}
.white{
  background-color: #fff;
  color: #333;
}
.back{
  background-color: red;
  color: #fff;
}
.submit{
  background-color: green;
  color: #fff;
}
.default{
  background-color: var(--primary-button-color);
  color: var(--primary-text-button-color);
}

none{
  color: var(--primary-button-color);
}