.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn_block{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  width: 150px;
}