.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn_change{
  width: 24px;
  height: 24px;
  position: absolute;
  top: -100px;
  right: -50px;
}
.btn_logout{
  width: 24px;
  height: 24px;
  position: absolute;
  top: -100px;
  left: -50px;
}