.dark{
    --bg-color: #333;
    --primary-color: #5e5e5e;
    --secondary-color: #bbbbbb;
    --ternary-color: #757575;

    --text-color: #fff;
    --text-select-color: #54a0ff;
    --text-secondary-color: #c4c4c4;

    --primary-button-color: #078fef;
    --primary-hover-button-color: #077ccc;
    --primary-text-button-color: #fff;
}