.light{
  --bg-color: #e7e7e7;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --ternary-color: #c5c5c5;

  --text-color: #333;
  --text-select-color: #54a0ff;
  --text-secondary-color: #606060;

  --primary-button-color: #078fef;
  --primary-text-button-color: #fff;
}