
.field, .textarea{
  padding: 5px;
  user-focus: none;
  outline: none;
  resize: none;

  transition: .5s all;
}

.line{
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
}

.box{
  border-radius: 5px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.light::-webkit-input-placeholder{
  color: #fff;
  opacity: .5;
  transition: .5s;
}
.dark::-webkit-input-placeholder{
  color: #333;
  opacity: .5;
  transition: .5s;
}

.theme::-webkit-input-placeholder{
  color: var(--text-color);
  opacity: .5;
  transition: .5s;
}

.centered{
  text-align: center;
}