:root{
  --default-header-height: 140px;
}

.header{
  padding: 10px 30px;
  height: var(--default-header-height);
}
.title{
  margin-left: 50px;
}

@media (max-width: 300px) {
  .title{
    display: none;
  }
}