.profile{
  display: flex;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name{
  color: var(--main-color);
}
.avatar{
  width: 150px;
  height: 150px;
  margin-right: 50px;
  border: 3px solid var(--main-color);
}

.description{
  word-wrap: break-word;
  margin-top: 30px;
  width: 400px;
}